langchain
langchain-deepseek
langchain-huggingface
langchain-chroma
langchain-text-splitters
langchain-openai
langgraph
chromadb
sentence-transformers
rank-bm25
jieba
fastapi
uvicorn
streamlit
python-dotenv
pydantic
pytest
langfuse
fpdf
